<section>
	<div class="section-header">
		<h1>Nuevo Aval</h1>
		{{link-to "Todos los avales" "data-entry.avales.avals.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/avales/avals/form"}}
	</div>
</section>