<section>
	<div class="section-header">
		<h1>Editar Candidato</h1>
		{{link-to "Todos los candidatos" "data-entry.municipabilities.candidates.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/municipabilities/candidates/form"}}
	</div>
</section>