<section>
	<div class="section-header">
		<h1>Editar Linea</h1>
		{{link-to "Todos los candidatos" "data-entry.avales.electoral-lines.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/avales/electoral-lines/form"}}
	</div>
</section>