<section>
	<div class="section-header">
		<h1>Editar evento</h1>
		{{link-to "Ver todos los eventos" "red.events.index" classNames="btn" }}
	</div>

	<div class="section-content">
		{{partial "red/events/form"}}
	</div>
</section>
