<section>
	<div class="section-header">
		<h1>Editar Espacio Politico</h1>
		{{link-to "Todos los espacios Politicos" "data-entry.municipabilities.political-spaces.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/municipabilities/political-spaces/form"}}
	</div>
</section>

