<form {{action "save" on="submit"}} class="simple-form">
  <fieldset>
    <label>
      {{textarea value=model.message rows="1"}}
    </label>
  </fieldset>
  <fieldset>
    <input type="submit" value="Publicar" class="btn">
  </fieldset>
</form>

