
<p>
  {{link-to "Ver todas las entradas" "red.index" classNames="btn"}}
</p>

<div class="page-header">
	<h1>Crear nueva entrada</h1>
</div>
<div class="simple-form">
	{{partial "entries/form"}}
</div>
