<section>
	<div class="section-header">
	    <h1>Entrada</h1>
	   {{link-to "Ver todas las entradas" "red.index" classNames="btn"}}
	</div>

	<article class="type-system-sans">
		{{poly-component model.componentName model.proprerties remove='remove' addFavorite='addFavorite' removeFavorite='removeFavorite' }}
	</article>
</section>
