<section>
	<div class="section-header">
		<h1>Editar Operador</h1>
		{{link-to "Todos los operadores" "data-entry.avales.aval-operators.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/avales/aval-operators/form"}}
	</div>
</section>