<section>
	<div class="section-header">
		<h1>Editar Escuela</h1>
		{{link-to "Todos los avales" "data-entry.festa.schools.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/festa/schools/form"}}
	</div>
</section>