<form {{action "save" on="submit"}} class="simple-form-profile">
  <p>{{input type="text" placeholder="Nombre" value=name}}</p>
  <p>{{input type="text" placeholder="Apellido" value=lastName}}</p>
  <p>{{input type="text" placeholder="Email" value=email}}</p>
  <input type="submit" value="Guardar cambios" class="btn">
</form>