<section>
	<div class="section-header">
		<h1>Nuevo grupo</h1>
		{{link-to "Ver listado de grupos" "red.groups.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "red/groups/form"}}
	</div>
</section>


