<section>
	<div class="section-header">
		<h1>Editar Configuracion Politica</h1>
		{{link-to "Todos las personas" "data-entry.municipabilities.functionaries.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/municipabilities/functionaries/form"}}
	</div>
</section>