<section>
	<div class="section-header">
		<h1>Editar Listas</h1>
		{{link-to "Todos las Listas" "data-entry.avales.electoral-lists.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/avales/electoral-lists/form"}}
	</div>
</section>