<section>
	<div class="section-header">
		<h1>Nuevo evento electoral</h1>
		{{link-to "Ver eventos" "data-entry.municipabilities.electoral-events.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/municipabilities/electoral-events/form"}}
	</div>
</section>

